html {
    height: 100%;
    width: 100%;
  }

  body {
    background-image: url("../images/img.jpeg");
    /* background: url("images/img.jpeg") no-repeat center center fixed; */
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }


  p{
   color: white;
  }

  p  a{
color: wheat;
  }

  #container {
    background: rgba(0, 0, 0, 0.7);
    width: 30rem;
    height: 24rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3rem;
  }

  header {
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    height: 3rem;
    background: rgba(0, 0, 0, 0.7);
    font-size: 1.4rem;
    color: #d3d3d3;
  }

  fieldset {
    border: 0;
    text-align: center;
  }

  input[type="submit"] {
    background: #5ed116;
    border: 0;
    display: block;
    margin: 0 auto;
    color: white;
    padding: 0.7rem;
    cursor: pointer;
    width: 30rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

#login{
  color: wheat;
  
}

  input {
    background: transparent;
    border: 0;
    margin-bottom: 25px;
    border-left: 4px solid;
    border-color: #62ff00;
    padding: 10px;
    color: white;

    width: 30rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: 0;
    margin-bottom: 35px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1.2rem;
    border-color: transparent;
  }

  ::placeholder {
    color: #d3d3d3;
  }

  .sign-up{
    text-decoration: none;
    /* color: wheat; */
  }

  /*Media queries */

  @media all and (min-width: 481px) and (max-width: 568px) {
    #container {
      margin-top: 10%;
      margin-bottom: 10%;
    }
  }
  @media all and (min-width: 569px) and (max-width: 768px) {
    #container {
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }


  