body{
    box-sizing: border-box;
    background-image: url("../images/img.jpeg");
    background-size: 100% 100%;
    font-family:Arial, Helvetica, sans-serif;

}

.main-form{
    width: 685px;
    border: 2px solid black;
    margin: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
}

.form-tag{
padding-left:40px;
padding-top: 40px;

}
.inputtags{
    width: 500px;
    background-color: rgba(0, 0, 0, 0.164);
    border-top:none;
    border-left:none;
    border-right:none;
    height: 25px;
}
.inputtags1{

    margin-left: 30px;
    width: 510px;
    height: 25px;
}

.address{
    width: 600px; ;
    border-top:none;
    border-left:none;
    border-right:none;
}

#disease{
    width:600px ;
    background-color: black;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid greenyellow ;
}
.button{
    font-size: 20px;
}
#female{
    margin-left: 15px;
}

#male{
    margin-left: 15px;
}

h3{
    text-align: center;
    font-weight: bold;
}

.footer{
    margin-top: 80px;
}

#name{
    background-color: black;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid greenyellow ;
    color: white;
}
#email{
    color: white;
    background-color: black;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid greenyellow ;
}

#age{
        color: white;
    background-color: black;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid greenyellow ;
}

#patientid{
    color: wheat;
    background-color: black;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid greenyellow ;
}
#address{
    color: white;
    background-color: black;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid greenyellow ;
}
#description{
    color: white;
    background-color: black;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid greenyellow ;
}